*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased
}

.plans{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 70%;
}

