.container {
    background-color: #1D539E;
    text-align: center;
    padding: 20px;
    min-height: 450px;
    
    p{
        color: #FFFFFF;
    }

    p:first-child{
        margin-top: 65px;
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 48pt;
    }

    p:last-child{
        font-size: 18pt;
        font-weight: 400;
    }

    @media screen and (max-width:1313px) {
        margin-bottom: 40px;
        height: 300px;
    }
}